# Subject: Data Science Foundation

## Session 8 - Probability distributions

### Assignment -  Conditional probability 

- Considering the Probability Distributions in Demo1 develop the Conditional probability ratings('A','B','C','D') by type of food.
 
- Commit scripts in your GitHub account. You should export your solution code (.ipynb notebook) and push it to your repository “DataScienceFoundations”.

- The following are the tasks that should complete and synchronize with your repository “DataScienceFoundations” until November 01. Please notice that this task will not be graded, however it’s important that you correctly understand and complete them in order to be sure that you won’t have problems with further assignments.

Guidelines:
- Clone the Git repository to get an initial code: 
https://github.com/FGutierresBTS/BTS_MasterInBigData.git
- Once you downloaded the repository to your local file system, go to the folder “BTS_MasterInBigData/ Session_8_DSF”. 
- Copy the folder “Session_8_DSF” into your local folder “DataScienceFoundations”. 
- In the folder “Session_8_DSF” you will see the files called: 
    -	BTS_DataScienceFoundation_Session8_Probability_Distributions_Assignment.ipynb.
- Import these files into Jupyter Notebook using the “Upload” button. 
- Open the imported script and put your code inside the notebook. 
- Export your Assignment *.ipynb notebook and push it to your repository “DataScienceFoundations”.

# Import modules and read the data frame

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
data = {'restaurant': ['McDonalds', 'Pizza Hut', 'Burger King', 'Nostrum', 'Tapecito', 'La Roda'], 
        'Food': ['Paella', 'Burger', 'Pasta', 'Tapas', 'Fish', 'Sushi'], 
        'rating': ['A', 'A', 'B', 'B', 'C', 'D'],
        'type': ['fast food', 'fast food', 'fast food', 'normal', 'normal', 'gourmet']}
df = pd.DataFrame(data, columns = ['restaurant', 'Food', 'rating', 'type'])
df

    restaurant    Food rating       type
0    McDonalds  Paella      A  fast food
1    Pizza Hut  Burger      A  fast food
2  Burger King   Pasta      B  fast food
3      Nostrum   Tapas      B     normal
4     Tapecito    Fish      C     normal
5      La Roda   Sushi      D    gourmet

## Question: Calculate conditional probabilites of ratings('A','B','C') in ratings column by type.

> Put your code and answer here

In [4]:
df.groupby('rating').count()['Food']

rating
A    2
B    2
C    1
D    1
Name: Food, dtype: int64

In [5]:
len(df)

6

In [6]:
df.groupby('rating').count()['Food'] / len(df)

rating
A    0.333333
B    0.333333
C    0.166667
D    0.166667
Name: Food, dtype: float64

In [7]:
df.groupby(['rating', 'type']).count()

                  restaurant  Food
rating type
A      fast food           2     2
B      fast food           1     1
       normal              1     1
C      normal              1     1
D      gourmet             1     1

In [9]:
df.groupby('rating').count()['Food']

rating
A    2
B    2
C    1
D    1
Name: Food, dtype: int64

In [10]:
(df.groupby(['rating', 'type']).count() / df.groupby('rating').count())['Food']

rating  type
A       fast food    1.0
B       fast food    0.5
        normal       0.5
C       normal       1.0
D       gourmet      1.0
Name: Food, dtype: float64